body {
	font-size:75%;
	color:#fff;
	background:#23201f;
	margin-top:0;
	margin-bottom:0;
	min-height:100%;
	}

.head { 
	background: #FFB500 url(/images/header.png);
	color: #23201f;
	height: 150px;
	width: 100%;
	}

.logo {
	background:url(/images/header_logo.png) no-repeat right;
	height: 150px;
	}

.foot { 
	background: #FFB500;
	color: #23201f;
	height: 18px;
	width: 100%;
	position:absolute;
	bottom:0;
	left:0;
	}

.low {
	position:absolute;
	bottom:0;
	}

h1, h2, h3, h4, h5, h6 {color:#FFB500;}
h2 {margin-bottom: -.25em; }