<% corkd_form_for( :user, @user, :url => url_for( :controller => 'users', :action => 'update', :id => @user.id), :html => { :method => 'put'} ) do |f| %>
<%= render :partial => f, :locals => {:readonly => false}%>
<tr class='last'><th></th><td><%= submit_tag %></td></tr>
<% end %>