<% corkd_form_for( :twip, @twip, :url => url_for( :controller => 'twips', :action => 'update'), :html => { :method => 'put'}) do |f| %>
<%= render :partial => f, :locals => {:readonly => false}%>
<tr class='last'><th></th><td><%= submit_tag %></td></tr>
<% end %>