<div class="vcard">
   <h2 class="fn org banner_email"><%= link_to vcard[:fn], vcard[:url], :class => 'url'%></h3>
   <div class='addresses'>
   <p class="adr">
   <%= render :partial => 'microformat/address', :collection => vcard[:addresses], :spacer_template => 'microformat/p_address_spacer.html'%>
   </p>
   </div>
   <div class='emails'>
   <p>
   <%= render :partial => 'microformat/email', :collection => vcard[:emails], :spacer_template => 'microformat/p_spacer.html'%>
   </p>
   </div>
   <div class='telephones'>
   <p class="tel">
   <%= render :partial => 'microformat/telephone', :collection => vcard[:telephones], :spacer_template => 'microformat/p_telephone_spacer.html'%>
   </p>
   </div>
</div>
