<div class="vcard">
   <h2 class="fn org url"><%= link_to vcard[:fn], vcard[:url]%></h2>
   <%= render :partial => 'microformat/address', :collection => vcard[:addresses]%>
   <%= render :partial => 'microformat/email', :collection => vcard[:emails]%>
   <%= render :partial => 'microformat/telephone', :collection => vcard[:telephones]%>
</div>
