<%= render :partial => 'microformat/vcard'%>
<div class='span-13 prepend-1'>
   <div class='twip-top-point'></div><div class='twip-content'>
   type here to Twipl us now!
   </div><div class='twip-bottom'></div>
</div>