<% inside_layout 'application' do -%> 
	<div class="spacer"></div>
	<div class="span-15">
	
		<%= yield %>
		
<! static test copy to be removed -->
		
		<h2>Islands</h2>
        – A Nice Place to Visit But a Bad Place to be Marooned
      <p>Applications are islands. Platforms are islands. The desktop era of <a href="http://www.microsoft.com">Microsoft</a> versus <a href="http://www.apple.com">Apple</a> has been superseded by Web era of Google versus Yahoo! versus Everybody Else.</p>

<p>The desktop <a href="http://www.hasbro.com/games/kid-games/monopoly/">monopoly</a> inflated prices. Worse than that — it stifled innovation. Now, while we paid more for less, at least we retained some control over our information — it was stored on our own disks. The Web era changes everything. We face the very real possibility that a small group of very large corporations will soon control not only the applications we use every day, but also our data as well.</p>


<h2>Your web – Your way</h2>

<p>We stand now at a crossroad. One way leads to another 20 years of stifled <a href="http://www.google.com">innovation</a>, of a few corporations enriching a few fat cats at our expense. The other way, leads to a new corporate ecosystem—a system of thousands of service and technology providers — an open system where millions can share in the wealth and you can reap the benefits of innovation in real time.</p>

<p>Thought Propulsion delivers Web applications for this innovative future — applications that put you in the center of the picture. Rather than locking you in to a platform, Thought Propulsion applications work seamlessly with your other applications — from other vendors. When we say your data is yours — we don’t just mean you can export it whenever you want — we mean you can leverage that data across multiple vendor products as you see fit.</p>

<p>We aren’t alone in this quest — we join hundreds of other up and coming ventures – companies and individuals who are challenging outdated axioms to bring you your web, your way.</p>

<! end test copy -->
		
	</div>
<div class="span-6 last">
<div class="spacer"></div>
		<% if flash.empty? %>
		<div id="flash" class="alert" style="display:none"></div>
		<% else %>  
		<% flash.each do |key,value| -%>
		<div id="flash" class='alert <%= key %>'>
			<%=h value %>
		</div>
		<% end -%>
		<% end %>
</div> 
<% end %>