<% inside_layout 'application' do -%> 
	<div class="spacer"></div>
	<div class="span-15">
		<%= yield %>
	</div>
<div class="span-6 last">
<div class="spacer"></div>
		<% if flash.empty? %>
		<div id="flash" class="alert" style="display:none"></div>
		<% else %>  
		<% flash.each do |key,value| -%>
		<div id="flash" class='alert <%= key %>'>
			<%=h value %>
		</div>
		<% end -%>
		<% end %>
</div> 
<% end %>