<% inside_layout 'application' do -%>

<div class="span-4">
       Left sidebar stuff lol
</div>
<div class="span-16">
  <%= yield %>
</div>
<div class="span-4 last">
       Right sidebar etc
</div>  

<% end %>
